<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAy2lGIK8EARlbe8Lzh0O06rtuXJBdBhaA</string>
	<key>GCM_SENDER_ID</key>
	<string>87795912631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.moritzhuber.betterHm</string>
	<key>PROJECT_ID</key>
	<string>better-hm</string>
	<key>STORAGE_BUCKET</key>
	<string>better-hm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87795912631:ios:21132ab87e2f00b0992232</string>
</dict>
</plist>